a{color: #000;}
h1{
	font-size: 2.6rem;
	line-height: 2.6rem;
}
.content{
	margin: 0 auto;
	max-width: 100%;
	width: 720px;
}
main{
	padding: 1% 0;
	position: absolute;
	background: var(--bg-1);
	box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
    top: 90%;
    width: 100%;
}
footer p{
	font-size: .8rem;
	font-weight: bold;
	color: #ccc;
}
footer a{color: #ccc;}
/* --- Important Pen Styles --- */

.zoom{
	overflow: hidden;
	padding-bottom: 55%;
}
.zoom img{
	position: fixed;
	left: 50%;
    width: 100%;
	transform: translateX(-50%);
	/* Thanks  @bastian_fiessinger. Use when activating blur effect:*/
	will-change: -webkit-filter, filter, transform; 
}
#dt{
    display: inline;
}
#mob{
    display: none;
}
@media (max-width: 667px) {
	h1{
		font-size: 1.8rem;
		line-height: 2.6rem;
		text-align: left;
	}
	.content{
		margin: 0 auto;
		max-width: 100%;
		width: 100%;
		height: 100%;
		text-align: justify;
	}
	.zoom{
		overflow: hidden;
		padding-bottom: 75%;
    }
    #mob{
        display: block;
    }
    #dt{
        display: none;
    }

}
@media (orientation: portrait){
    .zoom img{height: 100%;}
}
.left-img{
    width: 30%;
    float: left;
    margin-right: 4pt;
}
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }
.modal-display{
    display: flex!important;
    flex-direction: column;
    justify-content: center;
}
.modal-hidden{
    display:none
}
#modal-img {
    background-color: #fefefe;
    margin:auto;
    border: 1px solid #888;
    max-height: 80%;
    max-width: 100%;
}
.exit-modal{
    margin-left: auto;
    margin-top: 15pt;
    margin-right:15pt;
}
.exit-modal:hover{
    color: var(--accent-1);
}