body{
    background-color: var(--bg-1);
}
.nav{
    height: 40pt;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--bg-2);
    margin-bottom: 5pt;
}
.logo{
    height: 30pt;
    width: auto;
    margin: auto auto auto 5pt;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    color: var(--font);
}
.logo-img{
    height: 30pt;
    width: auto;
    margin: auto auto auto 5pt;
}
.logo:hover{
    color: var(--accent-1);
}
.nav-link{
    text-decoration: none;
    color: var(--font);
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto 0 auto auto;
    font-size: 2.5pt;
}
.right{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto 0 auto auto;
    margin-right: 5pt;
}
.project-link{
    width:100%;
    margin-bottom: 10pt;
    text-decoration: none;
    background-color: var(--bg-1);
    color: var(--font);
}
.project{
    width: 100%;
    display: flex;
    border-radius: 10px;
    padding: 5pt;
    border: 1px solid #12122b88;
    margin-bottom: 10pt;
}
.project-img{
    display: flex;
    width: 30%;
    min-width: 30%;
    max-width: 30%;
    height: auto;
    margin: 0 5pt 0 0;
    max-height: 100px;
}
.project-info{
    display: flex;
    flex-direction: column;
}
.project-link:hover, .project:hover{
    background-color: var(--bg-2) !important;
    color: var(--font);
}
.project-date{
    font-size: 10pt;

}
.breadcrumbs{
    font-size: 10pt;
    margin-top: 5pt;
    margin-left: 15pt;
}
.crumb{
    display: inline;
    text-decoration: none;
    color:var(--font);
}
.crumb li{
    display: inline;
}
.crumb li::before{
    content: "/";
}
.crumb a{
    color: var(--font);
    text-decoration: none;
}
.crumb a:hover{
    color:var(--accent-1);
}
.project-desc{
    font-size: 14pt;
}
#dt,#mob{
    display:inline
}
@media (min-width:1025px){
    .content{
        width: 80%;
        margin: auto;
    }
    #mob{
        display: none;
    }
}
@media (max-width:1024px){
    .content{
        width: 100%;
    }
    #dt{display:none}
}